<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Taxonomy Development Tools</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  {% block styles %}{% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Taxonomy Development Tools</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tables
            </a>
            <!-- edit-start (update page redirections urls) -->
            <ul class="dropdown-menu" id="tablesDropdown">
              {% for tablename, table in site.tables|items %}
              <li><a class="dropdown-item" href="/table/{{tablename}}" tdt-token-link>{{ tablename }}</a></li>
              {% endfor %}
            </ul>
            <!-- edit-end -->
          </li>
          {% block menus %}{% endblock %}
        </ul>
        <ul class="navbar-nav mb-2 mb-md-0">
           <!-- edit-start (ignore default-user) -->
          {% set filtered_users = site.users | dictsort | selectattr("0", "ne", "default_user") | list %}
          {% if site.users %}
           <!-- edit-end -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="badge rounded-pill text-bg-primary align-top">{{ site.users|count }}</span>
              Online
            </a>
            <ul class="dropdown-menu">
              <!-- edit-start (ignore default-user) -->
              {% for username, user in site.users|items %}
              <!-- edit-end -->
              <li>
                <a class="dropdown-item" href="/table/{{user.cursor.table}}">
                  <i class="bi bi-circle-fill" style="color: {{user.color}}"></i>
                  {{ username }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% if site.user.name %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              data-bs-auto-close="outside">
              {{ site.user.name }}
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                Sign out
              </a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-primary" href="/login">
              <i class="bi bi-box-arrow-in-right"></i>
              Sign in
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div id="content" class="container-fluid">
    {% block content %}
    {{ content|safe }}
    {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <!-- edit-start -->
  <script>
    function refresh_tdt_token_links() {
      const links = document.querySelectorAll('a[tdt-token-link]');
      links.forEach(link => {
        current_link = link.href;
        // apply base path
        const current_url = new URL(current_link);
        var relative_link = '/' + current_url.pathname.split('/').slice(1).join('/');
        if (!relative_link.startsWith(localStorage.getItem('basePath'))) {
          relative_link = localStorage.getItem('basePath') + relative_link;
        }
        const new_link = localStorage.getItem('origin') + relative_link;

        // apply token
        const url = new URL(new_link);
        url.searchParams.set('token', localStorage.getItem('authToken'));
        link.href = url.toString();
      });
    }

    document.addEventListener("DOMContentLoaded", function() {
      const currentUrl = new URL(window.location.href);
      const currentOrigin = currentUrl.origin;
      const currentBasePath = currentUrl.pathname.split('/table/')[0]; // without http...
      const baseURL = currentOrigin + currentBasePath
      const token = currentUrl.searchParams.get('token');
      localStorage.setItem('authToken', token);
      localStorage.setItem('baseURL', baseURL);
      localStorage.setItem('basePath', currentBasePath);
      localStorage.setItem('origin', currentOrigin);

      refresh_tdt_token_links();

      // Intercept when a layer is added to the DOM
      const formNames = ['column_menu', 'cell_menu']; // Replace with your form names
      const observer = new MutationObserver((mutationsList) => {
        for (const mutation of mutationsList) {
          console.log(mutation);
          if (mutation.type === 'childList') {
            refresh_tdt_token_links();
          }
        }
      });
      observer.observe(document.body, { childList: true, subtree: true });

    }); // DOMContentLoaded
  </script>
  <!-- edit-end -->
  {% block scripts %}
  {% endblock %}
</body>

</html>